<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pitchedapps.material.glass">

    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <uses-feature
        android:name="org.cyanogenmod.theme"
        android:required="true" />

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="21" />

    <meta-data
        android:name="org.cyanogenmod.theme.name"
        android:value="@string/theme_name" />
    <meta-data
        android:name="org.cyanogenmod.theme.author"
        android:value="@string/theme_author" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/theme_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.pitchedapps.material.glass.activities.Main"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PICK" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.pitchedapps.material.glass.activities.DetailedWallpaper"
            android:label="@string/title_activity_detailed_wallpaper"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pitchedapps.material.glass.activities.DetailedWallpaper" />
        </activity>
        <activity
            android:name="com.pitchedapps.material.glass.activities.Donations"
            android:label="@string/donate"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pitchedapps.material.glass.activities.Main" />
        </activity>

        <service
            android:name="com.pitchedapps.material.glass.muzei.ArtSource"
            android:description="@string/artsource_desc"
            android:icon="@drawable/ic_muzei_logo"
            android:label="@string/artsource_name">
            <intent-filter>
                <action android:name="com.google.android.apps.muzei.api.MuzeiArtSource" />
            </intent-filter>

            <meta-data
                android:name="color"
                android:value="@color/primary" />
            <meta-data
                android:name="settingsActivity"
                android:value="com.pitchedapps.material.glass.muzei.Settings" />
        </service>
        <activity
            android:name="com.pitchedapps.material.glass.muzei.Settings"
            android:exported="true"
            android:label="@string/muzei_settings"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
    </application>

</manifest>
