<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pitchedapps.material.glass"
    android:sharedUserId="android.uid.MGlass"
    android:process="com.android.Layers">

    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <uses-feature
        android:name="org.cyanogenmod.theme"
        android:required="true" />

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="21" />

    <meta-data
        android:name="org.cyanogenmod.theme.name"
        android:value="@string/theme_name" />
    <meta-data
        android:name="org.cyanogenmod.theme.author"
        android:value="@string/theme_author" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/theme_name"
        android:theme="@style/AppTheme">
        <!-- MainActivity -->
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.pitchedapps.material.glass.activities.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PICK" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.pitchedapps.material.glass.activities.DetailedWallpaperActivity"
            android:label="@string/title_activity_detailed_wallpaper"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pitchedapps.material.glass.activities.DetailedWallpaperActivity" />
        </activity>

        <service
            android:name="com.pitchedapps.material.glass.muzei.ArtSource"
            android:description="@string/artsource_desc"
            android:icon="@drawable/ic_muzei_logo"
            android:label="@string/artsource_name">
            <intent-filter>
                <action android:name="com.google.android.apps.muzei.api.MuzeiArtSource" />
            </intent-filter>

            <meta-data
                android:name="color"
                android:value="@color/primary" />
            <meta-data
                android:name="settingsActivity"
                android:value="com.pitchedapps.material.glass.muzei.Settings" />
        </service>
        <activity
            android:name="com.pitchedapps.material.glass.muzei.Settings"
            android:exported="true"
            android:label="@string/muzei_settings"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />

        <!--layers-->

        <service android:name=".Overlay"
            android:exported="true">
            <intent-filter>
                <action android:name="com.layers.plugins.PICK_OVERLAYS" />
                <category android:name="Overlay" />
            </intent-filter>

        </service>

        <meta-data android:name="Layers_Name" android:value="@string/app_name"/>
        <meta-data android:name="Layers_Developer" android:value="Pitched Apps"/>
        <meta-data android:name="Layers_Colors" android:value=""/>
        <meta-data android:name="Layers_Description" android:value="@string/welcome_title"/>
        <meta-data android:name="Layers_OverlayNames" android:value="@string/layers_apps"/>
        <meta-data android:name="Layers_WhatsNew" android:value="@string/layers_new"/>
    </application>

</manifest>
